USE [master]
GO
/****** Object:  Database [Instruments]    Script Date: 10/05/2019 08:54:24 ******/
CREATE DATABASE [Instruments] ON  PRIMARY 
( NAME = N'Appropriate_Instrument', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Appropriate_Instrument.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Appropriate_Instrument_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Appropriate_Instrument_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Instruments].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Instruments]
GO
/****** Object:  User [vupham]    Script Date: 10/05/2019 08:54:24 ******/
CREATE USER [vupham] FOR LOGIN [vupham] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT SERVICE\MSSQLSERVER]    Script Date: 10/05/2019 08:54:24 ******/
CREATE USER [NT SERVICE\MSSQLSERVER] FOR LOGIN [NT SERVICE\MSSQLSERVER]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 10/05/2019 08:54:24 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-OBAU54U\VuPH]    Script Date: 10/05/2019 08:54:24 ******/
CREATE USER [DESKTOP-OBAU54U\VuPH] FOR LOGIN [DESKTOP-OBAU54U\VuPH] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 10/05/2019 08:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[fullname] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblUser] ([username], [password], [isAdmin], [fullname]) VALUES (N'admin', N'123', 1, N'Vu Pham')
INSERT [dbo].[tblUser] ([username], [password], [isAdmin], [fullname]) VALUES (N'user', N'123', 0, N'Pham Vu')
/****** Object:  Table [dbo].[tblInstrument]    Script Date: 10/05/2019 08:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInstrument](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[url] [nvarchar](100) NOT NULL,
	[imageUrl] [nvarchar](100) NULL,
	[storeName] [nvarchar](50) NOT NULL,
	[storeLogo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 10/05/2019 08:54:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
